name: Maven Build
on: 
 push: 
  branches:
   - main
jobs:
 build: 
  runs-on: ubuntu-latest

  steps:
  - name: cloning git repository
    uses: actions/checkout@v3
  - name: installing java 
    uses: actions/setup-java@v3
    with:
        java-version: '11'
  - name: Build with Maven
    run: mvn clean install 
    

  
